extends layouts/main-layout.pug

block content
  h1 Add User
  form(action="/add-user", method="POST")
    label(for="username") User
    input(type="text", name="username", id="username")
    button(type="submit") Add User
