<h1>Add Users Page</h1>
<form action="/" method="POST">
  <div class="form-control">
    <label for="name">User</label>
    <input type="text" name="name" id="name" />
  </div>
  <button class="btn" type="submit">Add User</button>
</form>
<button class="btn"><a href="/users"> Go to Users </a></button>