<%- include('includes/head.ejs') %>
  <h1>Users List</h1>
  <% if (users.length > 0) { %>
    <ul>
      <% for (user of users) { %>
      <li><%= user.name %></li>
      <% } %>
    </ul>
  <% } else { %>
    <p>No Users</p>
  <% } %>
<%- include('includes/end.ejs') %>
